<div class="container">

  <div class="login-container">
    <h1 class ="headTitle" *ngIf="isLoginMode;">LOGIN TO YOUR ACCOUNT</h1>

      <div *ngIf="isLoginMode; else forgotPasswordTemplate">
          <!-- Login Form -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div>
                  <label for="username">Username</label>
                  <input id="username" formControlName="username" type="text" placeholder="Enter your username"/>
                  <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="error">
                      Username is required.
                  </div>
              </div>
              <div>
                  <label for="password">Password</label>
                  <input id="password" formControlName="password" type="password" placeholder="Enter your password"/>
                  <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error">
                      Password is required.
                  </div>
              </div>
              <button type="submit">Login</button>
              <div *ngIf="forgotPasswordErrorMessage" class="error">{{ forgotPasswordErrorMessage }}</div>
              <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
              <div class="links">
                <a href="#" (click)="switchToForgotPassword($event)">Forgot Password?</a>
                <a (click)="goToRegister()" [routerLink]="'/register'">Sign Up</a>
            </div>
            
             
          </form>
      </div>
      <ng-template #forgotPasswordTemplate>
          <!-- Forgot Password Form -->
          <h1 class = "headTitle">RESET  PASSWORD</h1>

          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
              <div>
                  <label for="username">Username</label>
                  <input id="username" formControlName="username" type="text" placeholder="Enter your username"/>
                  <div *ngIf="forgotPasswordForm.get('username')?.touched && forgotPasswordForm.get('username')?.invalid" class="error">
                      Username is required.
                  </div>
              </div>
              <div>
                  <label for="email">Email</label>
                  <input id="email" formControlName="email" type="email" placeholder="Enter your registered email" />
                  <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid" class="error">
                      Valid email is required.
                  </div>
              </div>
              <div>
                  <label for="phone">Phone Number</label>
                  <input id="phone" formControlName="phone" type="tel" placeholder="Enter your phone number" />
                  <div *ngIf="forgotPasswordForm.get('phone')?.touched && forgotPasswordForm.get('phone')?.invalid" class="error">
                      Phone number is required.
                  </div>
              </div>
              <div>
                  <label for="newPassword">New Password</label>
                  <input id="newPassword" formControlName="newPassword" type="password" placeholder="Set your new password" />
                  <div *ngIf="forgotPasswordForm.get('newPassword')?.touched && forgotPasswordForm.get('newPassword')?.invalid" class="error">
                      New password is required.
                  </div>
              </div>
              <button type="submit">Reset Password</button>
              <div *ngIf="forgotPasswordErrorMessage" class="error">{{ forgotPasswordErrorMessage }}</div>
              <div class = links>
                  <a href="#" (click)="switchToLogin($event)">Back to Login</a>
                  <a (click)="goToRegister($event)">Sign Up</a>
              </div>
          </form>
      </ng-template>
  </div>

  <div id="toaster" class="toasterLog" *ngIf="isShowPopLogin;">
    <p id="toaster-message">Your account is inactive. Please contact the admins to activate your account.</p>
  </div>

  <div id="toaster" class="toaster" *ngIf="isShowPop;">
    <p id="toaster-message">Your password has been changed. You can now log in with your new password..</p>
  </div>


  
  
  <div class="black-side">
    <img src="shop.svg" alt="Logo"style="width: auto; height: 600px; margin-top: 48px" />

  </div>




</div>
