html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent scrollbars within the container */
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


