<div class="checkout-page">
   <strong class = "title-cart">Confirm your checkout</strong>
  
    <!-- Cart items table -->
    <table id="cart-table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Price (PHP)</th>
          <th>Quantity</th>
          <th>Subtotal (PHP)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartList; trackBy: trackByProductName">
          <td>{{ item.productName }}</td>
          <td>{{ getPrice(item.productName) }}</td>
          <td>{{ item.orderQuantity }}</td>
          <td>{{ calculateSubtotal(item.productName) }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Total payment summary -->
    <div class="cart-summary">
      <p>Total Payment: <span>{{ getTotalPayment() }} PHP</span></p>
    </div>
  
    <!-- Confirm order button -->
    <div class="cart-actions">
      <button (click)="confirmOrder()" class="checkout-button">Confirm Order</button>
      <button class = "back-button" [routerLink]="['/user-page', username, 'cart']"> Go Back</button>

    </div>
  </div>
  