<app-nav-user></app-nav-user>
<body>  
<div class="pending-page">
  <strong class="title-cart">Here's the summary of your pending order/s</strong>

  <!-- Check if there are pending orders -->
  <div *ngIf="pendingList.length > 0; else noOrders">
    <!-- Pending orders table -->
    <table id="cart-table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Item Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal (PHP)</th>
          <th>Total (PHP)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pending of pendingList; trackBy: trackById">
          <td>{{ pending.id }}</td>
          <td>
            <div *ngFor="let item of pending.items; trackBy: trackByProductName">
              {{ item.productName }}<br />
            </div>
          </td>
          <td>
            <div *ngFor="let item of pending.items; trackBy: trackByProductName">
              {{ item.price }}<br />
            </div>
          </td>
          <td>
            <div *ngFor="let item of pending.items; trackBy: trackByProductName">
              {{ item.orderQuantity }}<br />
            </div>
          </td>
          <td>
            <div *ngFor="let item of pending.items; trackBy: trackByProductName">
              {{ item.subtotal }}<br />
            </div>
          </td>
          <td>{{ pending.total }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Template for displaying a message when there are no pending orders -->
  <ng-template #noOrders>
    <p class="no-items-message">You have no pending orders.</p>
  </ng-template>
</div>
</body>