<p>My Cart</p>


<div *ngIf="editItemMode" class="modal">
    <div class="modal-content">
        <h3>Edit Item</h3>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="edit-form">
            <div class="form-group">
                <label for="productName"><strong>Item Name: </strong> </label>
                <input id="productName" type="text" [value]="editItemName" readonly />
            </div>
            <div class="form-group">
                <label for="quantity" ><strong> Quantity: </strong> </label>
                <input id="quantity" formControlName="quantity" type="number" [placeholder]="editItemQuantity" />
                <div *ngIf="editForm.get('quantity')?.touched && editForm.get('quantity')?.invalid" class="error">
                    Quantity must be greater than 0.
                </div>
            </div>
            <div class="modal-buttons">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
            </div>
            <div *ngIf="editErrorMessage" class="error">{{ editErrorMessage }}</div>
        </form>
    </div>
</div>

<!-- Cart items table -->
<table id="cart-table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Price (PHP)</th>
            <th>Quantity</th>
            <th>Subtotal (PHP)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cartList; trackBy: trackByProductName">
            <td>{{ item.productName }}</td>
            <td>{{ getPrice(item.productName) }}</td>
            <td>{{ item.orderQuantity }}</td>
            <td>{{ calculateSubtotal(item.productName) }}</td>
            <td>
                <button (click)="editItem(item)" class="btn btn-edit">Edit</button>
                <button (click)="deleteItem(item)" class="btn btn-delete">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Total payment summary -->
<div class="cart-summary">
    <p>Total: <span>{{ getTotalPayment() }} PHP</span></p>
    <button class = " btn  back-button" [routerLink]="['/user-page', username, 'dashboarduser']" >Go Back</button>

    <button [disabled]="checkoutDisabled" (click)="goToCheckout($event)" class="btn checkout-button">Checkout</button>
</div>

