<app-admin-header></app-admin-header>
<body>
    <table id="cart-table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price (PHP)</th>
                <th>Description</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of paginatedProducts">
                <td>{{ product?.name }}</td>
                <td>{{ product?.price }}</td>
                <td>{{ product?.description }}</td>
                <td>{{ product?.category }}</td>
                <td>
                    <button  (click)="onEdit(product)" class="btn btn-edit">Edit </button>&nbsp;
                    <button (click)="onDelete(product)"  class="btn btn-delete">Delete </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="button-container">
        <button class="btn btn-primary" (click)="onAdd()">Add New Product</button>
        <div class="pagination-controls">
            <button class="btn btn-secondary" (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous Page</button>
            <button class="btn btn-primary" (click)="goToNextPage()" [disabled]="!hasNextPage">Next Page</button>
        </div>
    </div>
</body>
<app-footer></app-footer>