<div class="dashboard-container">
    <div class="navbar">
        <h1>CartiFy!</h1>
        <img src="greenicon.png" alt="Green Icon" class="navbar-icon">
    
        <ul class="nav-links">
          <li><a [routerLink]="['/user-page', username, 'dashboarduser']" routerLinkActive="active">Dashboard</a></li>
          <li><a [routerLink]="['/user-page', username, 'cart']" routerLinkActive="active">MyCart</a></li>
          <li><a [routerLink]="['/user-page', username, 'profile']" routerLinkActive="active">MyProfile</a></li>
          <li><a [routerLink]="['/user-page', username, 'pending']" routerLinkActive="active">MyPending</a></li>
          <li class="dropdown">
            <i class='fas fa-angle-down' style='font-size: 20px; color: white;'></i>
            <div class="dropdown-content">
              <button class="logout-btn" [routerLink]="['/login']">Log Out</button>
            </div>
          </li>
        </ul>
      </div>
   </div>
