<app-admin-header></app-admin-header>
<h2 class="title">Top 5 Highest Bought Items</h2>
<div class="container">
    <div class="product-list">
      <div *ngFor="let product of topProducts; let i = index" class="product-card">
        <div class="product-tag">{{ i + 1 }}</div>
        <div class="product-details">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <p><strong>Price:</strong> {{product.price}}</p>
          <p><strong>Category:</strong> {{ product.category }}</p>
          <p><strong>Quantity Sold:</strong> {{ product.quantitySold }}</p>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>